body {
    background-color: rgb(218, 198, 198);
    text-align: center;
}

header {
    background-color: rgb(121, 114, 114);
    line-height: 30px;
}

footer {
    background-color: rgb(135, 126, 126);
}

.cafeteria {
    background-color: rgb(135, 126, 126);
}

img {
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
}